[Unit]
Description=Perform ddbridge compilation
After=mythbackend.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ddbridge-compile.sh

[Install]
WantedBy=default.target
