automation_server_name: home-control.lan
automation_custom_version: "0.13"
automation_frontend_version: "0.8"
automation_frontend_port: 3001

automation_software:
  - name: broker-denon
    version: "0.2"
    environment:
      DENON_URI: "avr.lan:23"
    config: |
      topics:
        system: mediacenter/avr/system/set
        power: mediacenter/avr/power/set
        volume_set: mediacenter/avr/volume/set
        volume_up: mediacenter/avr/volume/up
        volume_down: mediacenter/avr/volume/down
        volume_mute: mediacenter/avr/volume/mute
        input: mediacenter/avr/input/set
        surround_mode: mediacenter/avr/surround/set
        system_state: mediacenter/avr/system/state
        power_state: mediacenter/avr/power/state
        volume_state: mediacenter/avr/volume/state
        input_state: mediacenter/avr/input/state
        surround_mode_state: mediacenter/avr/surround/state
        info: mediacenter/avr/info
  - name: broker-heos
    version: "0.1"
    environment:
      HEOS_URI: "avr.lan:1255"
    config: |
      topics:
        system: mediacenter/heos/system/set
        playback_state: mediacenter/heos/playback/state
        play: mediacenter/heos/play
        system_state: mediacenter/heos/system/state
        state: mediacenter/heos/state
        info: mediacenter/heos/info
  - name: broker-kodi
    version: "0.4"
    environment:
      KODI_URI: "osmc.lan:9090"
    config: |
      topics:
        system: mediacenter/kodi/system/set
        playback_state: mediacenter/kodi/playback/state
        playback_seek: mediacenter/kodi/playback/seek
        playback_speed: mediacenter/kodi/playback/speed
        play: mediacenter/kodi/play
        input: mediacenter/kodi/input
        cec: mediacenter/kodi/cec
        system_state: mediacenter/kodi/system/state
        state: mediacenter/kodi/state
        power_state: mediacenter/kodi/power/state
  - name: broker-lgtv
    version: "0.5"
    environment:
      LGTV_URI: "tv.lan"
      LGTV_KEY: "{{ lgtv_key }}"
    config: |
      toplevel_topic: lgtv
  - name: broker-presence
    version: "0.2"
    config: |
      toplevel_topic: presence
      toplevel_topic_wifi: wifi
      absent_delay_wifi: 3m
      last_seen_buffer: 5m
      room: home
      enable_prometheus: true
      people:
        - name: martin
          wifi_mac: 84:c7:ea:83:77:d3
        - name: isabelle
          wifi_mac: d0:fc:cc:b9:f2:9b
