- name: ensure rpmfusion-free repository is installed
  dnf: name=http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_version }}.noarch.rpm

- name: ensure rpmfusion-nonfree repository is installed
  dnf: name=http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_version }}.noarch.rpm

- name: ensure fedora-handbrake repository is installed
  command: dnf config-manager --add-repo http://negativo17.org/repos/fedora-handbrake.repo
           creates=/etc/yum.repos.d/fedora-handbrake.repo

- name: ensure docker is installed
  dnf: name=docker

- name: ensure docker service runs
  service: name=docker enabled=yes state=started

#- name: ensure wheel users have access to libvirt
#  copy: src=libvirt.rules
#        dest=/etc/polkit-1/rules.d/80-libvirt.rules
#        owner=root group=root mode=0644

- name: ensure wheel don't need password for sudo
  lineinfile: dest=/etc/sudoers
              regexp='^%wheel'
              line='%wheel ALL=(ALL) NOPASSWD:ALL'
              validate='visudo -cf %s'

- name: ensure X forwarding is enabled in ssh
  lineinfile: dest=/etc/ssh/sshd_config
              regexp='^X11Forwarding '
              line='X11Forwarding yes'

- include: base.yml tags=fedora-base

- include: certificate.yml

- include: ssmtp.yml tags=ssmtp

- include: tuned.yml tags=tuned

- include: ssd.yml tags=ssd
  when: ansible_devices.sda is defined and ansible_devices.sda.rotational == '0'

- include: accounts.yml tags=accounts
