- name: ensure UnitedRPMs repository is installed
  package:
    name: https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/RPM/unitedrpms-{{ ansible_distribution_version }}-1.noarch.rpm

- name: ensure wheel users don't need password for sudo
  lineinfile:
    dest: /etc/sudoers
    regexp: "^%wheel"
    line: "%wheel ALL=(ALL) NOPASSWD:ALL"
    validate: "visudo -cf %s"

- name: ensure there are enough inotify watches available
  sysctl:
    name: fs.inotify.max_user_watches
    value: 524288
    sysctl_file: /etc/sysctl.d/30-inotify.conf

- name: ensure script for initializing projects is installed
  copy:
    src: init-github-projects.sh
    dest: /usr/local/bin/ini-github-projects
    mode: 0755

- include: base.yml

- include: ssd.yml
  when: ansible_devices.values()|rejectattr("rotational", "sameas", "0")|list|length > 0

- name: ensure users are created
  user:
    name: "{{ item.user }}"
    comment: "{{ item.name }}"
    groups: "{{ item.groups }}"
    append: yes
  with_items: "{{ users }}"
