- name: ensure tuned software is installed
  dnf: name=tuned-utils

- name: ensure tuned service runs
  service: name=tuned enabled=yes state=started

- name: ensure powertop service runs
  service: name=powertop enabled=yes state=started

- command: tuned-adm active
  register: tuned_profile
  changed_when: false

- name: ensure tuned profile powersave is active
  command: tuned-adm profile powersave
  when: tuned_profile is defined and tuned_profile.stdout.find('powersave') == -1
