- name: ensure tuned software is installed
  yum: name=tuned-utils

- name: ensure tuned service runs
  service: name=tuned enabled=yes state=started

#- name: ensure powertop tunables are saved in Tuned profile
#  command: powertop2tuned --enable powersave
#  creates: /etc/tuned/powersave

- command: tuned-adm active
  register: tuned_profile
  changed_when: false

- name: ensure tuned profile powersave is active
  command: tuned-adm profile powersave
  when: tuned_profile.stdout.find('powersave') == -1
