- name: ensure VirtualBox is installed
  dnf: name=VirtualBox
  when: ansible_virtualization_role != 'guest'

- name: ensure vagrant is installed
  dnf: name={{ item }}
  with_items:
    - nfs-utils
    - vagrant
    - vagrant-libvirt
    - vagrant-lxc

- name: ensure sudoers file for vagrant is installed
  copy: src=sudoers
        dest=/etc/sudoers.d/vagrant-commands
        owner=root group=root mode=0600

- name: ensure ports for mounting are open in internal zone
  firewalld: service={{ item }} permanent=true zone=internal state=enabled
  with_items:
    - nfs
    - mountd
    - rpc-bind

- name: ensure port 2049/udp for vagrant nfs is open in internal zone
  firewalld: port=2049/udp permanent=true zone=internal state=enabled

- include: plugins.yml
