- name: ensure yum repository for vagrant is installed
  copy: src=vagrant.repo
        dest=/etc/yum.repos.d/
        owner=root group=root mode=0644

- name: ensure nfs-utils software is installed
  yum: name=nfs-utils

- name: ensure VirtualBox is installed
  yum: name=VirtualBox
  when: ansible_virtualization_role != 'guest'

- name: ensure vagrant is installed
  yum: name=vagrant

- shell: vagrant --version
  register: vagrant_version
  changed_when: false

- name: ensure bash completion script for vagrant is installed
  file: src=/opt/vagrant/embedded/gems/gems/vagrant-{{ vagrant_version.stdout.split()[1] }}/contrib/bash/completion.sh
        dest=/etc/bash_completion.d/vagrant.sh
        state=link

- name: ensure sudoers file for vagrant is installed
  copy: src=sudoers
        dest=/etc/sudoers.d/vagrant-commands
        owner=root group=root mode=0600

- name: ensure ports for mounting are open in internal zone
  firewalld: service={{ item }} permanent=true zone=internal state=enabled
  with_items:
    - nfs
    - mountd
    - rpc-bind

- name: ensure port 2049/udp for vagrant nfs is open in internal zone
  firewalld: port=2049/udp permanent=true zone=internal state=enabled

- include: plugins.yml
