- command: vagrant plugin list
  sudo: yes
  sudo_user: "{{ item.username }}"
  register: user_vagrant_plugins
  when: group_names[0] in item.hosts and item.vagrant_plugins is defined
  with_items: users
  changed_when: false

- name: ensure the vagrant plugins for users are installed
  command: "vagrant plugin install {{ item[1] }}"
  sudo: yes
  sudo_user: "{{ item[0].item.username }}"
  when: "item[0].stdout.find('{{ item[1] }}') == -1"
  with_subelements_registered:
    - user_vagrant_plugins.results
    - vagrant_plugins
