- name: ensure there are enough inotify watches available
  sysctl:
    name: fs.inotify.max_user_watches
    value: 524288
    sysctl_file: /etc/sysctl.d/30-inotify.conf

- name: ensure script for initializing projects is installed
  copy:
    src: init-github-projects.sh
    dest: /usr/local/bin/init-github-projects
    mode: 0755


- name: ensure Cloud Foundry CLI repository is configured
  yum_repository:
    name: cloudfoundry-cli
    description: Cloud Foundry CLI
    baseurl: https://packages.cloudfoundry.org/fedora
    gpgkey: https://packages.cloudfoundry.org/fedora/cli.cloudfoundry.org.key
    gpgcheck: yes
    skip_if_unavailable: yes

- name: ensure basic software is installed
  package:
    name: "{{ item }}"
  with_items:
    - exfat-utils
    - ecryptfs-utils
    - mariadb
    - mycli
    - openvpn
    - ansible
    - ansible-lint
    - pass
    - aspell-de
    - hunspell-de
    - fzf
    - tidy
    - cf-cli

- name: ensure gui tools are installed
  package:
    name: "{{ item }}"
  with_items:
    - gnome-contacts
    - gnome-calendar
    - gnome-documents
    - gnome-photos
    - gnome-music
    - gnome-maps
    - gnome-weather
    - gnome-rdp
    - gnome-terminal
    - gnome-power-manager
    - gnome-activity-journal
    - gnome-shell-extension-calc
    - gnome-tweak-tool
    - dconf-editor
    - gnome-todo
    - tilix
    - totem
    - vinagre
    - simple-scan
    - nextcloud-client
    - nextcloud-client-nautilus
    - easytag
    - gitg
    - xca

- name: ensure users are in ecryptfs group
  user:
    name: "{{ item.user }}"
    groups: ecryptfs
    append: yes
  with_items: "{{ users }}"
