- name: ensure mariadb is at the latest version
  yum: pkg={{ item }} state=latest
  with_items:
    - mariadb
    - mariadb-server
    - MySQL-python

- name: ensure mariadb is configured
  template: src=server.cnf.j2
            dest=/etc/my.cnf.d/server-custom.cnf
            owner=root group=root mode=644
  notify:
    - restart mariadb

- name: ensure mariadb service runs
  service: name=mariadb enabled=yes state=started

- name: ensure mariadb root password is set
  mysql_user: name=root
              password="{{ mariadb.root_password }}"
              login_unix_socket=/var/lib/mysql/mysql.sock

- name: ensure .my.cnf for root is present
  template: src=my.cnf.j2
            dest=/root/.my.cnf
            owner=root group=root mode=600

- name: ensure mysql port is open in firewall
  firewalld: service=mysql permanent=true state=enabled

- include: cleanup.yml

- include: timezones.yml

- include: backup.yml
  when: mariadb.backup_password is defined and mariadb.backup_password != ""

- include: users.yml
- include: databases.yml
