- name: ensure UnitedRPMs key is installed
  rpm_key:
    key: https://raw.githubusercontent.com/UnitedRPMs/unitedrpms/master/URPMS-GPG-PUBLICKEY-Fedora-24

- name: ensure UnitedRPMs repository is installed
  package:
    name: "https://github.com/UnitedRPMs/unitedrpms/releases/download/7/unitedrpms-{{ ansible_distribution_version }}-7.fc{{ ansible_distribution_version }}.noarch.rpm"

- name: ensure wheel users don't need password for sudo
  lineinfile:
    dest: /etc/sudoers
    regexp: "^%wheel"
    line: "%wheel ALL=(ALL) NOPASSWD:ALL"
    validate: "visudo -cf %s"

- import_tasks: ssd.yml
  when: (ansible_virtualization_role != "guest" or ansible_virtualization_type != "lxc") and ansible_devices.values()|rejectattr("rotational", "sameas", "0")|list|length > 0

- name: ensure admin users are created
  user:
    name: "{{ item.user }}"
    comment: "{{ item.name }}"
    groups:
      - wheel
    append: yes
  with_items: "{{ users }}"

- name: ensure basic software is installed
  package:
    name: "{{ item }}"
  with_items:
    - dnf-plugins-extras-tracer
    - git
    - curl
    - fuse-sshfs
    - bzip2
    - ntp
    - bash-completion
    - jq
    - rpmconf
    - htop
    - net-tools
    - wget
    - tmux
    - vim
    - nvim

- name: ensure standard firewalld configuration is not installed
  package:
    name: firewalld-config-standard
    state: absent
