- name: ensure nginx and php software is installed
  dnf: name={{ item }}
  with_items:
    - nginx
    - php
    - php-fpm

- name: ensure php-fpm can access network
  seboolean: name=httpd_can_network_connect state=yes persistent=yes
  when: ansible_selinux is defined and ansible_selinux.status == "enabled"

- name: ensure php-fpm is running
  service: name=php-fpm enabled=yes state=started

- name: ensure nginx is running
  service: name=nginx enabled=yes state=started

- name: ensure webserver ports are open in firewall
  firewalld: service={{ item }} permanent=true state=enabled
  with_items:
    - http
    - https
