- name: ensure mythtv software is installed
  dnf: name={{ item }}
  with_items:
    - xmltv
    - xmltv-grabbers
    - mythtv-backend
    - mythtv-setup
    - mythtv-docs
    - python-MythTV
    - liberation-sans-fonts

- name: fix xmltv grabber for tv.search.ch
  replace: dest=/bin/tv_grab_ch_search
           regexp='tv\.search\.ch'
           replace='tv.classic.search.ch'

- name: ensure database user for mythtv exists
  mysql_user: name=mythtv
              host=localhost
              password="{{ mythtv.db_password }}"
              priv="mythtv.*:ALL"

- name: ensure database for mythtv exists
  mysql_db: name=mythtv
            encoding=utf8
            collation=utf8_general_ci
  register: mythtv_database

- stat: path="/var/lib/backup/{{ ansible_hostname }}/db/mythtv_latest.sql"
  register: mythtv_database_backup
  changed_when: false

- name: import mythtv database from backup
  mysql_db: name=mythtv
            state=import
            target="/var/lib/backup/{{ ansible_hostname }}/db/mythtv_latest.sql"
  when: mythtv_database.changed and mythtv_database_backup.stat.exists is defined and mythtv_database_backup.stat.exists

- name: ensure mythtv directories exist
  file: dest="/var/lib/mythtv/{{ item }}"
        state=directory
        owner=mythtv group=mythtv mode=0755
  with_items:
    - channels
    - livetv
    - recordings
    - recordings_pretty

- name: ensure mythtv config directory exists
  file: dest=/etc/mythtv
        state=directory
        owner=mythtv group=mythtv mode=0755

- name: ensure mythtv is configured
  template: src=config.xml.j2
            dest=/etc/mythtv/config.xml
            owner=mythtv group=mythtv mode=0640

- name: ensure mythtv user config directory exists
  file: src=/etc/mythtv
        dest=/var/lib/mythtv/.mythtv
        state=link
        force=yes

- name: ensure mythtv channel icons directory exists
  file: src=/var/lib/mythtv/channels
        dest=/etc/mythtv/channels
        state=link
        force=yes

- name: ensure mythtv cache/tmp directories exist
  file: dest="/etc/mythtv/{{ item }}"
        state=directory
        owner=mythtv group=mythtv mode=0755
  with_items:
    - tmp
    - themecache
    - cache

- name: ensure mythtv host-specific cache directories exist and are linked
  file: src=/etc/mythtv/cache
        dest="/etc/mythtv/Cache-{{ item }}-{{ ansible_nodename }}"
        state=link
        force=yes
        owner=mythtv group=mythtv
  with_items:
    - mythbackend
    - mythtv-setup
    - mythmetadatalookup

- name: ensure mythtv cache/tmp directories are mounted as tmpfs
  template: src=tmpfs.mount.j2
        dest="/etc/systemd/system/{{ item.name }}.mount"
        owner=root group=root mode=644
  with_items: mythtv_cache_directories

- name: ensure mythtv cache/tmp directory mounts are enabled
  service: name="{{ item.name }}.mount" enabled=yes state=started
  with_items: mythtv_cache_directories

- name: ensure mythtv-setup wrapper is installed
  copy: src=mythtv-setup.bash
        dest=/usr/local/bin/mythtv-setup
        owner=root group=root mode=755

- name: ensure mythlink.pl is executable
  file: dest=/usr/share/doc/mythtv-docs/contrib/user_jobs/mythlink.pl
        state=file
        mode=u+x,g+x,o+x

- name: ensure mythbackend is running
  service: name=mythbackend enabled=yes state=started

- include: mythweb.yml

- include: backup.yml
