---
- name: ensure development tools for building dddvb are installed
  package:
    name: "{{ item }}"
  with_items:
    - perl-Proc-ProcessTable
    - kernel-devel
    - kernel-headers

- name: ensure dddvb is downloaded
  unarchive:
    src: "https://github.com/DigitalDevices/dddvb/archive/0.9.28-v7a.tar.gz"
    dest: /usr/src
    copy: no
    creates: /usr/src/dddvb-0.9.28-v7a

- name: ensure depmod extra rules are defined
  copy:
    dest: /etc/depmod.d/extra.conf
    content: "search extra updates built-in\n"

- name: ensure dddvb build script is installed
  copy:
    dest: /usr/local/bin/ddbridge-compile.sh
    src: ddbridge-compile.sh
    owner: root
    group: root
    mode: 0755

- name: ensure dddvb build service is installed
  copy:
    dest: /etc/systemd/system/ddbridge-compile.service
    src: ddbridge-compile.service
    owner: root
    group: root
    mode: 0644

- name: ensure dddvb build service is enabled
  service:
    name: ddbridge-compile
    enabled: yes

- name: ensure ddbridge module configuration is in place
  copy:
    dest: /etc/modprobe.d/ddbridge.conf
    content: "options ddbridge adapter_alloc=3"

- name: ensure udev rule for ddbridge exists
  copy:
    dest: /etc/udev/rules.d/80-ddbridge.rules
    content: 'SUBSYSTEM=="dvb", ACTION=="add", KERNEL=="dvb0.ca0", RUN+="/usr/local/bin/ddbridge-redirect.sh"'

- name: ensure ddbridge redirect script is installed
  copy:
    dest: /usr/local/bin/ddbridge-redirect.sh
    src: ddbridge-redirect.sh
    owner: root
    group: root
    mode: 0755
