- name: ensure alsa software is installed
  yum: pkg={{ item }}
  with_items:
    - alsa-firmware
    - alsa-tools
    - alsa-tools-firmware
    - alsa-utils

- name: ensure media directories exist
  file: dest="/var/lib/media/{{ item }}"
        state=directory
        recurse=yes
        owner=apache group=apache mode=0755
  with_items:
    - music
    - pictures
    - videos

- name: ensure backup directory for mediacenter exists
  file: dest="/var/lib/backup/{{ ansible_hostname }}"
        state=directory
        owner=root group=root mode=0750

- name: ensure backup directories exist
  file: dest="/var/lib/backup/{{ item.dir }}"
        state=directory
        owner="{{ item.user }}" group="{{ item.user }}" mode=0750
  with_items: backup.directories

- name: ensure selinux is disabled because of problem with kodi
  selinux: state=disabled
